
.full-width-table {
  width: 100%;
}


/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

td{
  font-size: 16px;
}

th {
  color: white;
  font-size: 20px;
  background-color:#1abc9c; 
}

td:hover{
  color: white;
  font-size: 18px;
}

ngb-rating{
  color: orange;
  font-size: 30px;
}

tr:hover{
  background-color: rgba(0,0,0,0.5);
  transform: scaleX(1.05);
  transform: scaleY(1.05);
  color: white;
  font-size: 18px;
}

thead{
  padding: 10px 10px;
}

.navu{
	padding: 20px 20px;
	background-color: #1abc9c;
	border-bottom-left-radius: 0.7em;
	border-bottom-right-radius: 0.7em;
	box-shadow: 2px 2px 2px;
	color: white;
}


