<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  
  
  <body>
  
      <div class="navu">
          <div class="row" width="700px">
            <div class="col" >
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
            <div class="col-6" >
              <h2>
                  JOBS
              </h2>
            </div>
            <div class="col" >
              
            </div>
        </div>
        </div>
        
        <br>
        <br>
  
    <div class="container">
      <div class="row">
  
        
        <div class="col">
          
        </div>
        
        
        <div class="col-xl-12">
          <!--sorting buttons-->
  
          <!--div id="myBtnContainer">
              <button class="btn active" id="all"> Show all</button>
              <button class="btn" id="cars"> Cars</button>
              <button class="btn" id="Android"> Filter Android</button>
              <button class="btn" id="Web"> Filter Web</button>
              <button class="btn" id="Machine Learning"> Filter ML</button>
            </div>
            
                <table>
                <tr>
                  <td> <div class="filterDiv colors fruits">Orange</div></td></tr>
                <tr>
                  <td> <div class="filterDiv cars">Volvo</div></td></tr>
                <tr>
                  <td> <div class="filterDiv colors">Red</div></td></tr>
                <tr>
                  <td> <div class="filterDiv cars animals">Mustang</div></td>
                 </tr>
                </table>
                
  
          <!--Input form-->
              <div class="input-group mb-3" style="width: 100%">
                <input matInput (keyup)="applyFilter($event.target.value)" type="text" class="form-control" placeholder="Search Job" aria-label="Job" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Search</span>
                </div>
              </div>
         
              
          <div class="mat-elevation-z8" >
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
              <!-- Position Column 
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>-->
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element">
                  <!-->div class="filterDiv {{element.type}} {{element.name}}"> {{element.name}} <br><br> {{element.type}} </div-->
                  {{element.name}} <br><br> {{element.type}}
                </td>
              </ng-container>
            
              <!-- fee Column -->
              <ng-container matColumnDef="fee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > 
                    Fee
                </th>
  
                <td mat-cell *matCellDef="let element"> {{element.fee}} </td>
              </ng-container>
  
              <script>
                  
                    
                  </script>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
  
  
  
        </div>
  
  
        <div class="col">
          
        </div>
  
  
  
      </div>
    </div>
  
    <footer>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </footer>
  
      <script>
      
      </script>
  </body>
   
  
    <!--paginator-->

  